 .u-section-1 {
  background-image: url("images/96131760-01.jpeg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 500px;
}

.u-section-1 .u-form-1 {
  height: 162px;
  width: 570px;
  margin: 114px auto 60px;
}

.u-section-1 .u-form-group-1 {
  margin-left: 0;
}

.u-section-1 .u-label-1 {
  font-weight: 700;
  font-size: 1.25rem;
}

@media (max-width: 767px) {
  .u-section-1 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-form-1 {
    width: 340px;
  }
} .u-section-2 {
  background-image: url("images/6d651177668aac152e9ddabf6a81a8e623dd03086edd5d1b9472a30db98e7a67a9245726f7a993abc3d2dab286789c1d292ddb9e3fb92e5d601873_1280.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 500px;
}

.u-section-2 .u-form-1 {
  height: 409px;
  width: 570px;
  margin: 38px auto 0;
}

.u-section-2 .u-form-group-1 {
  margin-left: 0;
}

.u-section-2 .u-label-1 {
  font-weight: 700;
  font-size: 1.5rem;
}

.u-section-2 .u-input-1 {
  font-size: 1.25rem;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-2 .u-btn-1 {
  padding: 9px 33px;
}

.u-section-2 .u-countdown-1 {
  margin: 102px auto 7px 448px;
}

.u-section-2 .u-countdown-counter-1 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-2 .u-countdown-label-1 {
  font-size: 1.125rem;
  text-transform: uppercase;
  font-weight: 700;
  text-shadow: -2px -2px 8px rgba(128,128,128,1);
}

.u-section-2 .u-countdown-separator-1 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-2 .u-countdown-counter-2 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-2 .u-countdown-label-2 {
  font-size: 1.125rem;
  text-transform: uppercase;
  font-weight: 700;
  text-shadow: -2px -2px 8px rgba(128,128,128,1);
}

.u-section-2 .u-countdown-separator-2 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-2 .u-countdown-counter-3 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-2 .u-countdown-label-3 {
  font-size: 1.125rem;
  text-transform: uppercase;
  font-weight: 700;
  text-shadow: -2px -2px 8px rgba(128,128,128,1);
}

.u-section-2 .u-countdown-separator-3 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-2 .u-countdown-counter-4 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-2 .u-countdown-label-4 {
  font-size: 1.125rem;
  text-transform: uppercase;
  font-weight: 700;
  text-shadow: -2px -2px 8px rgba(128,128,128,1);
}

.u-section-2 .u-countdown-separator-4 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-2 .u-countdown-counter-5 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-2 .u-countdown-label-5 {
  font-size: 1.125rem;
  text-transform: uppercase;
  font-weight: 700;
  text-shadow: -2px -2px 8px rgba(128,128,128,1);
}

.u-section-2 .u-countdown-separator-5 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-2 .u-countdown-counter-6 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-2 .u-countdown-label-6 {
  font-size: 1.125rem;
  text-transform: uppercase;
  font-weight: 700;
  text-shadow: -2px -2px 8px rgba(128,128,128,1);
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 412px;
  }

  .u-section-2 .u-form-1 {
    height: 568px;
    width: 585px;
    margin-bottom: 20px;
  }

  .u-section-2 .u-form-group-1 {
    height: 409px;
    margin: 32px 208px 60px 162px;
  }

  .u-section-2 .u-countdown-1 {
    margin-left: 248px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 316px;
  }

  .u-section-2 .u-form-group-1 {
    margin-right: 98px;
    margin-left: 52px;
  }

  .u-section-2 .u-countdown-1 {
    margin-left: 28px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 237px;
  }

  .u-section-2 .u-form-1 {
    width: 540px;
  }

  .u-section-2 .u-form-group-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-countdown-1 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 149px;
  }

  .u-section-2 .u-form-1 {
    width: 340px;
  }
}